# supervisord service for systemd (CentOS 7.0+)
# by ET-CS (https://github.com/ET-CS)
[Unit]
Description="{{supervisord_identifier}}" daemon

[Service]
Type=forking
ExecStart="{{supervisord_daemon}}"
ExecStop=/usr/bin/supervisorctl $OPTIONS shutdown
ExecReload="{{supervisord_supervisorctl}}" $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target